@page "/dictionary"
<PageTitle>Dictionary</PageTitle>
<div class="d-flex flex-column-reverse flex-sm-row justify-content-between">
    <div class="d-flex align-items-center justify-content-center">
        <input placeholder="search" class="form-control" />
    </div>
    <TagModal />
</div>
<div class="mt-5 d-flex flex-column flex-md-row">
    <div class="w-50">
        <TagsTable />
    </div>
    <div></div>
</div>
